site_name: Prompts
site_author: The Outlines developers
site_description: >-
  Large Language Model prompting library


# Repository
repo_name: outlines-dev/prompts
repo_url: https://github.com/outlines-dev/prompts

# Copyright
copyright: Copyright &copy; 2024- The Outlines Developers

# Configuration
theme:
  name: material
  palette:
    - scheme: default
      primary: white
  icon:
    repo: fontawesome/brands/github
  features:
    - content.code.copy
    - navigation.expand
    - navigation.tabs
    - navigation.sections
    - header.autohide
  font:
    text: Inter
    code: Source Code Pro

# Additional configuration
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/outlines-dev/prompts
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/OutlinesOSS
  generator: false


markdown_extensions:
  - admonition
  - def_list
  - attr_list
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      noclasses: True
      pygments_style: gruvbox-light
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search
  - section-index
  - git-committers:
      repository: outlines-dev/prompts
      branch: master
  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago

nav:
  - Home: index.md
  - Docs:
      - reference/index.md
      - Prompt template: reference/template.md
      - Dispatch: reference/dispatch.md
      - Special tokens: reference/special_tokens.md
      - Chat History: reference/chat.md
